* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 45vh;
    width: 100vw;
}

main {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio_button_container{
    width: 50px;
}

.text_container {
    width: 400px;       /* largura da div */
    background-color: #ebe9e9; /* opcional, para visualizar */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column; /* garante que elementos fiquem um abaixo do outro */
    gap: 10px; /* espaço entre h4 e paragraph_container */
}

.paragraph_container {
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgb(52, 51, 51);
}


#audio_button {
    padding: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#audio-button:hover {
    transform: scale(1.1);
}

.active {
    background-color: red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-150px);
    background-color: transparent;
    top: 55px;
}

.header-logo {
    height: 250px;
    object-fit: contain;
    background-color: transparent;
}
